[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rcatch22"]
	path = Rcatch22
	url = https://github.com/hendersontrent/rcatch22
[submodule "correctR"]
	path = correctR
	url = https://github.com/hendersontrent/correctr
[submodule "theft"]
	path = theft
	url = https://github.com/hendersontrent/theft
